<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karol.wbt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".SignInUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SurveyActivities.FrequencySurvey" />
        <activity android:name=".SurveyActivities.UserParametersSurvey" />
        <activity android:name=".SurveyActivities.SummarySurvey" />
        <activity android:name=".SurveyActivities.EndSurvey" />
        <activity android:name=".SurveyActivities.ContactSurvey" />
        <activity android:name=".SurveyActivities.AdvancementLevelSurvey" />
        <activity android:name=".SurveyActivities.GoalSurvey" />
        <activity android:name=".ShowPlanActivity" />
        <activity android:name=".TrainingPackage.WorkoutActivity" />
        <activity android:name=".OptionActivity" />
        <activity android:name=".UtilitiesPackage.InfoExerciseActivity" />
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity android:name=".ChangeDataActivity"></activity>
        <activity android:name=".TrainingPackage.IntroductionTrainingActivity"></activity>
    </application>

</manifest>